<!-- Footer -->
<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">&copy; 2019 Copyright:
        <a href="#"> Sinar Nadhif Ilyasa</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->