<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Chatbox</a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}">Back to Profile</a>
            </li>
        </ul>
    </div>
</nav>