.container {
  display: flex;
  justify-content: center;
  padding-top: 150px;

}


.content {
  background-color: gainsboro;
  padding: 10px;

}

a {
  margin-right: 10px;
}


.sosmed {
  float: right;
}

img {
  float: right;
}

body {
  background-color: #f2f2f2 !important;
}


body {
  overflow-x: hidden;
}


