{% load static %}


<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'latihan.css' %}">
    <title>My Experience</title>
    <style>
        .he {
            /* border: 20px solid black; */
            text-align: right;
        }

        div.row:hover {
            background-color: #e1f2f5;
        }
    </style>
</head>

<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container text-center">
            <h1 class="display-4">My Experience</h1>
            <p class="lead">Pengalaman Saya di Dunia IT</p>

        </div>
    </div>


    <div class="container">
        <div class="row mt-3">
            <div class="col-md-2 he">
                <img src="{% static 'ums.png'%}" alt="" height="50px" width="50px">

            </div>
            <div class="col-md-4">
                <h4>Trainer </h4>
                <h6>Universitas Muhammadiyah Surakarta</h6>
                <p>1-2 Mei 2018</p>



            </div>
            <div class="col-md-6">
                Pelatihan Coding Workshop di Universitas Muhammadiyah Surakarta sebagai Trainer
            </div>

        </div>

        <hr>

        <div class="row mt-3">
            <div class="col-md-2 he">
                <img src="{% static 'fosti.png' %}" alt="" height="50px" width="50px">

            </div>
            <div class="col-md-4">
                <h4>Ketua Riset </h4>
                <h6>Forum Open Source Teknik Informatika</h6>
                <p>21 Februari 2018-26 Desember 2018</p>



            </div>
            <div class="col-md-6">
                Mengembangkan sistem operasi linux untuk fakultas sendiri
            </div>

        </div>

        <hr>
        <div class="row mt-3">
            <div class="col-md-2 he">
                <img src="{% static 'pku.png' %}" alt="" height="50px" width="50px">

            </div>
            <div class="col-md-4">
                <h4>Magang </h4>
                <h6>RS PKU Muhammadiyah Karanganyar</h6>
                <p>Maret-Juni 2019</p>




            </div>
            <div class="col-md-6">
                Membuat Website untuk RS PKU Muhammadiyah Karanganyar
            </div>


        </div>

        <hr>





    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

</body>

</html>