{% load static %}

<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">

    <link href="{% static 'simple-sidebar.css' %}" rel="stylesheet">
    <title>My Experience</title>
    <style>
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: 'Poppins', sans-serif;

        }

        .he {
            /* border: 20px solid black; */
            text-align: right;
        }

        div.mt-3:hover {
            /*background-color: #e1f2f5;*/
            width: 95%;
        }

        .languages {
            padding: 100px;
            background-image: url("{% static 'gray.jpg' %}");
            background-size: cover;

        }

        .portofolio {
            padding: 75px;
        }
    </style>
</head>

<body>

    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="bg-dark border-right pt-4" id="sidebar-wrapper">
            <div class="sidebar-heading text-white"><i class="fa fa-address-card" aria-hidden="true"></i> My Experience
            </div>
            <div class="list-group list-group-flush">
                <a href="{% url 'index' %}" class="list-group-item list-group-item-action bg-dark text-white mt-3">About
                    Me</a>
                <a href="#" class="list-group-item list-group-item-action bg-dark text-white"> My Experience</a>
                <a href="{% url 'guestbook' %}"
                    class="list-group-item list-group-item-action bg-dark text-white">Guestbook</a>
                <a href="{% url 'lab_4' %}"
                    class="list-group-item list-group-item-action bg-dark text-white">Chatbox</a>

                {% block content %}

                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}"
                    class="list-group-item list-group-item-action bg-dark text-white">Logout</a>

                {% else %}
                <a href="{% url 'login' %}" class="list-group-item list-group-item-action bg-dark text-white">Login</a>


                {% endif %}
                {% endblock %}


            </div>
        </div>



        <div class="container-fluid pl-0">


            <div class="jumbotron jumbotron fluid">
                <div class="container text-center">
                    <h1 class="display-4"><i class="fa fa-university" aria-hidden="true"></i> My Experience</h1>
                    <p class="lead">Pengalaman Saya di Dunia IT</p>

                </div>

            </div>
            <section class="pengalaman">
                <div class="row mt-3">
                    <div class="col-md-2 he">
                        <img src="{% static 'ums.png' %}" alt="" height="50px" width="50px">

                    </div>
                    <div class="col-md-4">
                        <h4>Trainer </h4>
                        <h6>Universitas Muhammadiyah Surakarta</h6>
                        <p>1-2 Mei 2018</p>



                    </div>
                    <div class="col-md-6">
                        Pelatihan Coding Workshop di Universitas Muhammadiyah Surakarta sebagai Trainer
                    </div>

                </div>

                <hr>

                <div class="row mt-3">
                    <div class="col-md-2 he">
                        <img src="{% static 'fosti.png' %}" alt="" height="50px" width="50px">

                    </div>
                    <div class="col-md-4">
                        <h4>Ketua Riset </h4>
                        <h6>Forum Open Source Teknik Informatika</h6>
                        <p>21 Februari 2018-26 Desember 2018</p>



                    </div>
                    <div class="col-md-6">
                        Mengembangkan sistem operasi linux untuk fakultas sendiri
                    </div>

                </div>

                <hr>
                <div class="row mt-3">
                    <div class="col-md-2 he">
                        <img src="{% static 'pku.png' %}" alt="" height="50px" width="50px">

                    </div>
                    <div class="col-md-4">
                        <h4>Magang </h4>
                        <h6>RS PKU Muhammadiyah Karanganyar</h6>
                        <p>Maret-Juni 2019</p>




                    </div>
                    <div class="col-md-6">
                        Membuat Website untuk RS PKU Muhammadiyah Karanganyar
                    </div>


                </div>
            </section>



            <!-- My Languages-->

            <section class="languages mt-3">

                <div class="row">


                    <div class="col text-center">


                        <h5>My Favourite Language : <img src="https://img.icons8.com/color/96/000000/python.png"> <img
                                src="https://img.icons8.com/ios-filled/96/000000/php.png"> <img
                                src="https://img.icons8.com/dusk/96/000000/sql.png"></h5>
                    </div>
                </div>

            </section>


            <!-- My Portofolio -->
            <section class="portofolio">
                <div class="row">
                    <div class="col text-center">
                        <h5>My Projects : </h5>
                    </div>
                </div>

                <div class="row pl-4 mt-4">

                    <div class="col-md-4">
                        <img src="{% static '1.JPG' %}" alt="" class="img-thumbnail">

                    </div>

                    <div class="col-md-4">
                        <img src="{% static '2.JPG' %}" alt="" class="img-thumbnail">

                    </div>

                    <div class="col-md-4">
                        <img src="{% static '3.JPG' %}" alt="" class="img-thumbnail">

                    </div>


                </div>

            </section>




        </div>



    </div>







    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

</body>

</html>