{% load staticfiles %}
<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="author" content="{{author}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.
css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
    <!-- bootstrap csss -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/lab_4.css' %}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700">

    <title>
        Lab 4
    </title>
</head>

<body>
    <header>
        {% include "lab_4/partials/header.html" %}
    </header>

    <!-- Themes -->
    <div class="container">
        <h1 class="text-center">Select Tutorial</h1>
        <select style="width: 200px;" class="my-select">


        </select>
        <br /><button class="btn apply-button">Change Theme</button>
    </div>

    <content>
        {% block content %}
        <!-- content goes here -->
        {% endblock %}
    </content>
    <footer>
        <!-- TODO Block Footer dan include footer.html -->
        {% block footer %}
        {% include "lab_4/partials/footer.html" %}
        {% endblock %}
    </footer>
    <!-- Jquery n Bootstrap Script -->

    <script type="application/Javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    </script>
    <script src="{% static 'js/lab_4.js' %}"></script>

    <script>
        $(document).ready(function () {
            $('.my-select').select2({
                data: JSON.parse(localStorage.themes)
            });

            $('.apply-button').on('click', function () {
                theme = themes[$('.my-select').val()];
                changeTheme(theme);
                localStorage.setItem('selectedTheme', JSON.stringify(theme));
            })

        });
    </script>





</body>