{% load staticfiles %}

<!DOCTYPE html>

<head>
	<meta charset="UTF-8">
	<title>MESSAGED BY : {{nama}}</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
		integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

</head>

<title>
	{% block title %} {{nama}} GuestBook {% endblock %}
</title>

<body style="background-color: rgb(230, 230, 230)">
	{% include "partials/header.html" %}
	<div class="container">

		<div class="row mt-3">
			<div class="col-sm-1"></div>
			<div class="col-sm-10">
				{% block content %} {% endblock %}
			</div>
			<div class="col-sm-1"></div>
		</div>
	</div>

	{% block footer %}
	{% include "partials/footer.html" %}
	{% endblock %}
</body>

<!-- Jquery n Bootstrap Script -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
</script>