{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>My Profile</title>

  <link rel="stylesheet" type="text/css" href="{% static 'lab_1/style.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Acme&display=swap" rel="stylesheet">
  <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"> -->


  <!-- Bootstrap core CSS -->
  <!-- <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->


  <link href="{% static 'lab_1/simple-sidebar.css' %}" rel="stylesheet">

</head>

<body>


  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-dark border-right pt-4" id="sidebar-wrapper">
      <div class="sidebar-heading text-white"><i class="fa fa-user-o" aria-hidden="true"></i> Profile </div>
      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action bg-dark text-white mt-3">About Me</a>

        <a href="{% url 'index/my_experience' %}" class="list-group-item list-group-item-action bg-dark text-white">My
          Experience</a>

      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <!-- <div id="page-content-wrapper"> -->


    <div class="container">

      <div class="row">


        <div class="col-md-6 sm-6 xs-6">
          <img src="{% static 'lab_1/me.jpg' %}" alt="my image" width="400px" height="350px" class="img-thumbnail">
        </div>


        <div class="col-md-6 sm-6 xs-6">
          <h1>Sinar Nadhif Ilyasa</h1>
          <p class="text-dark">Saya Lahir di Sukoharjo, tanggal 30 Mei 1998. Sekarang tinggal dekat kota Solo,
            berprofesi
            sebagai Mahasiswa Informatika</p>

          <p><strong>Harapan :</strong></p>
          <div class="content">
            <p style="font-family: 'Acme', sans-serif; font-size:20px;">Belajar membuat website dengan Django
              Framework, semoga saya bisa mengaplikasikannya ke masyarakat supaya bermanfaat"
            </p>
          </div>

          <div class="sosmed">
            <p style="font-size: 15px; margin-top: 5px;">Follow my social media :
              <a href="https://www.facebook.com/StealthKid" class="fa fa-facebook"></a>
              <a href="https://twitter.com/Serpentz5" class="fa fa-twitter"></a>
              <a href="https://www.instagram.com/sinarnadhifilyasa/" class="fa fa-instagram"></a></p>

          </div>

        </div>

      </div>


      <!--   </div> -->


    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>



</body>

</html>