{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <title>{{ name }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'lab_1/style.css' %}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Acme&display=swap" rel="stylesheet">
</head>

<body>

    <div class="container">
        <div class="row">


            <div class="col-md-6 sm-6 xs-6">
                <img src="{% static 'lab_1/me.jpg' %}" alt="my image" width="400px" height="350px"
                    class="img-thumbnail">
            </div>


            <div class="col-md-6 sm-6 xs-6">
                <h1>Sinar Nadhif Ilyasa</h1>
                <p style="color:grey">Saya Lahir di Sukoharjo, tanggal 30 Mei 1998. Sekarang tinggal dekat kota Solo,
                    berprofesi
                    sebagai Mahasiswa Informatika</p>

                <p><strong>Harapan :</strong></p>
                <div class="content">
                    <p style="font-family: 'Acme', sans-serif; font-size:20px;">Belajar membuat website dengan Django
                        Framework, semoga saya bisa mengaplikasikannya ke masyarakat supaya bermanfaat"
                    </p>
                </div>

                <div class="sosmed">
                    <p style="font-size: 15px; margin-top: 5px;">Follow my social media :
                        <a href="https://www.facebook.com/StealthKid" class="fa fa-facebook"></a>
                        <a href="https://twitter.com/Serpentz5" class="fa fa-twitter"></a>
                        <a href="https://www.instagram.com/sinarnadhifilyasa/" class="fa fa-instagram"></a></p>

                </div>

            </div>

        </div>


    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"> </script>
    <!--  $(document).ready(function () {
        //     $('div.container').fadeIn(2200);
        //     // OR $('div.toshow').show(2200);
        //     // OR $('div.toshow').slideDown("slow");
        // });
    -->


    <!-- <h1>Hello my name is {{ name }}</h1>
    <article>NPM : {{ npm }}</article>
    <article>I am {{ age }} years old</article> -->
</body>

</html>