<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}



{% if user.is_authenticated %}

<!-- Hi {{ user.username }}! -->


<h1>Go To Heroku App : <a href="{% url 'index' %}">{{user.username}}</a></h1>


<h2><a href="{% url 'logout' %}">logout</a></h2>
{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}