{% extends "layout/base.html" %}
{% block content %}

<section name="form">
    <h2>Send Message</h2>

    {% if form.errors %}

    {% for error in form.non_field_errors %}
    <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %}
    {% endif %}


    <form id="form" method="POST" action="{% url 'guestbook:add_message' %}">
        {% csrf_token %}
        {{ message_form }}
        <br>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</section>
{% endblock %}